$border-radius: 8px;

$border-color: #ccc;
$border-slot-color: #eee;

$background-color: #fff;
$background-overlay-color: #cccccc45;
$background-red-color: #f00;
$background-blue-color: cornflowerblue;

$text-white-color: #fff;
$text-blue-color: cornflowerblue;
